{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block body %}
<h3>Hello Fionn</h3>

{% if users|length == 0 %}
<h4>There are no users</h4>
{% else %}
<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Password</th>
  </tr>
  {% for u in users %}
    <tr>
      <td>u.username</td>
      <td>u.email</td>
      <td>u.password</td>
    <tr>
    {% endfor %}
</table>
{% endif %}
<div class="form">
        <form action="/" method="POST">
            <input type="text" name="username" id="username">
            <input type="text" name="email" id="email">
            <input type="text" name="password" id="password">
            <input type="submit" value="Add User">
        </form>
</div>
{% endblock %}
